@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');

body, p, h1, ul, li, block{
    padding: 0;
    margin: 0;
    font-family: 'Vollkorn', Georgia, serif;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}
/*----Estruruta do grid geral----*/

.estrutura{
    display: grid;
    grid-template-columns: minmax(150px, 1fr) 3fr 300px;
    grid-template-areas:
    "header header header"
    "sidenav content anuncios"
    "footer footer footer";
}

.header{
    grid-area: header;
    background-image: linear-gradient(to right, #8844ee, #B07DfD);
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.logo{
    max-width: 200px;
}

.header nav ul{
    display: flex;
    flex-wrap: wrap;
}

.header nav a{
    display: block;
    padding: 12px;
    margin-left: 30px;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    background-color: rgba(0, 0, 0, .1);
    transition: .2s;
}

.header nav a:hover{
    background-color: rgba(0, 0, 0, .5);
}



.sidenav{
    grid-area: sidenav;
}

.content{
    grid-area: content;
}

.anuncios{
    grid-area: anuncios;
}

.footer{
    grid-area: footer;
}