@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #fff7f0;
}

/*header*/
.container{
    min-width: 1000px;
    margin: auto;
}

.header header{
    width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.header header p{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color: black;
    border-radius: 30px;
    padding: 10px; 
}
.header header p{
    max-width: 150px;
    margin: 15px;
}

.header header p:hover{
    background-color: rgb(113, 113, 113);
}

.header header img{
    max-width: 40px;
    max-height: 40px;
    margin: 15px;
}

.header header img:hover{
    background-color: rgb(113, 113, 113);
}

.content1{
    text-align: center;
    min-width: 1000px;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 15px;
}

.content1 h1{
    width: 900px;
    margin: auto;
    padding: 10px;
}

.content1 p{
    font-size: 16px;
    width: 700px;
    margin: auto;
    padding: 10px;
}

/*primeiro grid*/

.grid1{
    margin: auto;
    display: grid;
    max-width: 1000px;
    min-width: 1000px;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-rows: 180px 130px;
    grid-template-areas: 
    "item1 item2 item3 item4"
    "item1 item5 item5 item6";
}

.item{
    background-color: blueviolet;
    margin: 5px;
    border-radius: 10px;
}

.item h1{
    display: flex;
    color: white;
    font-size: 20px;
    margin: 20px;
    justify-content: flex-start;
    align-items: flex-end;
    text-align: end;
}

.item1{
    background-color: #755cde;
    grid-area: item1;
}

.item2{
    background-color: #f5a560;
    grid-area: item2;
}

.item3{
    background-color: #f39d9e; 
    grid-area: item3;
}

.item4{
    background-color: #62c4b7; 
    grid-area: item4;
}

.item5{
    background-color: #ea7564;
    grid-area: item5;
}

.item6{
    background-color: #55204a;
    grid-area: item6;
}

.content2{
    width: 1000px;
    margin: auto;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr;
    justify-content: center;
}

.content2 img{
    width: 300px;
    height: 300px;
    margin-top: 40px;
    margin: 20px;
}

.content2 .text_content2 h1{
    margin-top: 40px;
    margin: 20px;
    font-size: 35px;
}

.content2 .text_content2 p{
    margin: 20px;
    text-align: justify;
    font-size: 18px;
}

.content2 .text_content2 button{
    background-color: #ea7564;
    padding: 10px;
    border-radius: 30px;
    border: 0;
    margin: 0px 20px;
}

.content2 .text_content2 button > a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}
.content2 .text_content2 button > a:hover{
    text-decoration: underline;
    color: #55204a;

}