@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
*{
    
    padding: 0;
    font-family: 'Raleway', sans-serif;;
}

body{
    background-color: white;
}

.container{
    display: flex;
    background-color: white;
    width: 601px;
    height: 500px;
    margin: auto;
    position: relative;
    top: 50px; 
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 3px 4px 8px rgb(191, 185, 222);

}

.blue{
    width: 50%;
    height: 500px;
    background-image: linear-gradient(to bottom, #6c4ffc, #322de9);
    box-sizing: border-box;
    border-radius: 20px;
}


.blue h1{
    margin: 20px;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.677);
    text-align: center;
}


.circle{
    margin-top: 20px;
    margin: auto;
    display: block;
    width: 180px;
    height: 180px;
    border-radius: 100px;
    background-image: linear-gradient(to bottom,#322de9, #6c4ffc );

}

.circle h1{
    color: white;
    padding-top: 30px;
    font-size: 50px;
}

.circle h4{
    text-align: center;
    color: rgba(255, 255, 255, 0.677);

}

.blue_content h1{
    color: white;
    font-size: 25px;
    padding: 10px;
}

.blue_content p{
    margin: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.677);
    font-size: 16px;
}

.white{
    width: 50%;
    height: 500px;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    box-sizing: border-box;
}


.white h1{
    margin: 20px;
    margin-left: 40px;
    font-size: 25px;
}

.button{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 10px;
    font-size: 10px;   
}

.button#red{
    padding: 10px;
    background-color: #f7d7d6;
    border-radius: 8px;
    color:#e93731;
}

.button#green{
    padding: 10px;
    background-color: #d8f7d6;
    border-radius: 8px;
    color:#2f8329;
}

.button#yellow{
    padding: 10px;
    background-color: #f7f4d6;
    border-radius: 8px;
    color: rgb(206, 153, 29);
}

.button#blue{
    padding: 10px;
    background-color: #d6edf7;
    border-radius: 8px;
    color: rgb(61, 61, 222);
}

.continue{
    margin: auto;
}

.continue h2{
    background-color: #737373;
    width: 70%;
    margin: auto;
    margin-top: 10px;
    padding: 12px;
    color: white;
    box-sizing: border-box;
    border-radius: 20px;
    font-size: 18px;
    text-align: center;

}

.continue-hover{
    width: 400px;
    margin: auto;
    padding: 12px;
    color: white;
    box-sizing: border-box;
    border-radius: 20px;
    font-size: 18px;
    text-align: center;
    background-color: #737373;
}


@media only screen and (max-width: 600px){
    .container{
        display: block;
        width: 400px;
        height: 800px;
        margin: auto;  
    }

    .blue{
        width: 100%;
        height: 320px;
        border-radius: 0px 0px 25px 25px;
    }

    .blue h1{
        padding-top: 10px;
        font-size: 20px;
    }

    .circle{
        width: 130px;
        height: 130px;
        margin-top: 10px;
        display: block;
        border-radius: 100px;
        background-image: linear-gradient(to bottom,#322de9, #6c4ffc );
    }

    .circle h1{
        color: white;
        padding-top: 20px;
        font-size: 30px;
    }

    .circle h4{
        text-align: center;
        color: rgba(255, 255, 255, 0.677);
        font-size: 16px;
    }

    .blue_content h1{
        color: white;
        font-size: 20px;
        padding: 0;
        margin: 0;
        margin-top: 5px;
    }

    .blue_content p{
        font-size: 15px;
        padding: 5px;
    }

    .button{
        width: 300px;
    }

    .continue{
        width: 400px;
    }

    .white h1{
        font-size: 25px;
        font-weight: bolder;
    }
}


